<tr>
  <th id='score-label'><%= t'status.score' %>:</th>
  <td><span id='score-value'><%=h status.total_score %></span></td>
</tr>
<tr id='score-tip'>
  <td><a href='#score' class='tip' rel='facebox'><%= t'tip.whscore'%></a></td>
  <td></td>
</tr>
<tr>
  <th><%= t'status.num'%>:</th>
  <td><%=h status.num %></td>
</tr>
<tr>
  <th><%= t'status.rate' %>:</th>
  <td><%=h status.success_rate %></td>
</tr>
<tr>
  <th><%= t'status.average' %>:</th>
  <td><%=h status.average.to_s(:hm) if status.average %></td>
</tr>
<tr>
  <th><%= t'status.cont'%>:</th>
  <td><%=h status.continuous_num %></td>
</tr>
<tr>
  <th><%= t'record.target'%>:</th>
  <td><%= target_time_status(user) %></td>
</tr>

<tr>
  <th><%= t'user.timezone'%>:</th>
  <td><%=h user.timezone %></td>
</tr>
