<% content_for :js_rdy do %>
  <script>

    jQuery(document).ready(function($) {
      $jq('.record-cell').hover(
        function(){
          $jq(this).find('.record-info').show();
          $jq(this).addClass('even');
        },
        function(){
          $jq(this).find('.record-info').hide();
          $jq(this).removeClass('even');
        }
      );
    })
  </script>
<% end %>
<%= render :partial => 'index/top_menu', :locals => {:current_facebook_user => @current_facebook_user, :user => @user} %>

<div style='clear:both;'></div>
<div id='content'>
  <%= fb_profile_pic(@user.fb_id)%>
  <%= fb_name(@user.fb_id)%>
  <div id="show_graph">
    <%= render :partial => 'graph', :locals => {:times => @times, :target_times => @target_times} %>
  </div>

  <table>
    <tbody id='status_list'>
      <%= render :partial => 'status', :locals => {:status => @user.status, :user => @user} %>
    </tbody>
  </table>

  <div class='clear'></div>
  <div id='action-menu'>
  <% owner_area do  %>
      <%= link_to "<span>#{t('record.wakeup')}</span>", new_record_path, :alt => 'Wake Up', :title =>'Wake Up',
      :rel => "facebox", :class => 'button fl-l'  %>
      <%= link_to "<span>#{t('record.add')}</span>", new_record_path(:type => 'add'), :alt => 'add', :title => 'add',
      :rel => "facebox", :class => 'button fl-l'  %>
    <% end%>
    <a href='#record-info' class='tip' rel='facebox'>[?]</a>
    <div id='date_range'>
      <%= render :partial => 'date_range', :locals => {:startDate => @startDate, :endDate => @endDate} %>
    </div>
  </div>

  <div id='record_list'>
    <% @records.each do |record| %>
      <%= render :partial => 'record', :locals => {:record => record, :me => @me}%>
    <% end %>
  </div>
  <div id='fb-comment'>
    <%= fb_comments( "#{RAILS_ENV}_iwakela_#{@user.fb_id}", false, true, 3, :title => "", :url => FB_APP_URL ) %>
  </div>
</div>
<div id='friend-list'>
  <h2><%= t'friend.list'%></h2>
  <% for friend in @friends %>
    <div id='friend-cell'>
      <div>
        <%= link_to image_tag(friend.image), user_records_path(friend.id), :class => 'fl-l' %>
        <%= friend_status(friend.status.state ) %>
      </div>
      <div class='clear'></div>
      <div>
        <%= link_to friend[:last_record_time].to_s(:time), user_records_path(friend.id), :alt => t('friend.status'), :title => t('friend.status') %>
      </div>
    </div>
    <div class='clear'></div>
  <% end %>
</div>

<div id='score' style='display:none;'>
  <h2 class='fb-header'><%= t'tip.whscore'%></h2>
  <div class='tip-content'>
    <%= t'tip.scoredesc'%>
  </div>
</div>
<div id='record-info' style='display:none;'>
  <h2 class='fb-header'><%= t'tip.recque'%></h2>
  <div class='tip-content'>
    <%= t'tip.recdesc'%>
  </div>
</div>
