<div>
  <%= link_to 'Home', user_records_path(User.find_by_fb_id(@current_facebook_user.id.to_s)) %>
  <%= link_to 'User Show', @user, :rel => "facebox"  %>
  <% owner_area do  %>
    <%= link_to 'User Edit', edit_user_path(@user), :rel => "facebox" %>
  <% end %>
</div>
<div style='clear:both;'></div>
<div id='content'>
  <%= image_tag(@user.image) %> <%= @user.name %>

  <div id="show_graph">
    <%= render :partial => 'graph', :locals => {:times => @times, :target_times => @target_times} %>
  </div>
  <table>
    <tbody id='status_list'>
      <%= render :partial => 'status', :locals => {:status => @user.status} %>
    </tbody>
  </table>

  <% owner_area do  %>
    <%= link_to image_tag('http://www.badongo.com/t/250/7945002.jpg', :size => '80x80'), new_record_path, :alt => 'Wake Up', :title =>'Wake Up', :rel => "facebox"  %>
    <%= link_to image_tag('http://www.badongo.com/t/250/7944966.jpg', :size => '64x64'), new_record_path(:type => 'add'), :alt => 'add', :title => 'add', :rel => "facebox"  %>
  <% end%>
  <div class='clear'></div>
  <%= render :partial => 'date_range' %>

  <table>
    <tr>
      <th>Time</th>
      <th>Content</th>
      <th>Success</th>
      <th>Status</th>
    </tr>

    <tbody id='record_list'>
      <% @records.each do |record| %>
        <%= render :partial => 'record', :locals => {:record => record}%>
      <% end %>
    </tbody>
  </table>
  <br />
  <%= fb_comments( "iwakela_#{@user.fb_id}", true, true, 2,:showform => true, :title => "" ) %>
</div>
<div id='friend-list'>
  <% for friend in @friends %>
    <span>
      <%= link_to image_tag(friend.image), user_records_path(friend.id) %>
      State: <%= friend.status.state %>
      <%= friend[:last_record_time].to_s(:time) %>
    </span>
  <% end %>
</div>
