<p>
  <b><%= t('record.wake')%>:</b>
  <%=h @record.time %>
</p>

<p>
  <b><%= t'record.target'%>:</b>
  <%= target_time_status(@me) %>
</p>

<p>
  <b>Content:</b>
  <%= Sanitize.clean(full_format_content(@record.content),  Sanitize::Config::BASIC) %>
</p>

<p>
  <b><%= t('common.result') %>: </b>
  <%=@record.success ? t('record.success') : t('record.fail') %>
</p>
