<p>
  <b>Time:</b>
  <%=h @record.time %>
</p>

<p>
  <b>Target time:</b>
  <%=h @record.target_time %>
</p>

<p>
  <b>Content:</b>
  <%=simple_format(@record.content) %>
</p>

<p>
  <b>Success:</b>
  <%=h @record.success %>
</p>

<p>
  <b>Pri:</b>
  <%=h @record.pri %>
</p>
