      <div id='adsense'>
        <script type="text/javascript"><!--
          google_ad_client = "pub-0501077200190082";
          /* 728x90, 已建立 2010/1/28 */
          google_ad_slot = "5214130044";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
        </script>
        <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
<%= render :partial => 'index/top_menu' %>
<% form_tag :action => 'index', :method => :get do %>
  <%= t'user.timezone'%>: 
  <select name='timezone'>
    <%= time_zone_options_for_select @timezone %>
  </select>
  <%= t'rank.tet'%>: <%= select_hour @target_time %>:
  <%= submit_tag t('rank.submit'), :class => 'submit' %>
<% end %>
<% zone = Time.zone %>
<h2 class='title rank-desc'>
  <%= t'rank.desc1'%><span class='tip'><%= "#{zone.tzinfo} #{zone.formatted_offset}"%></span>
  <%= t'rank.desc2'%><span class='tip'><%= @target_time.to_s(:hm) %></span><%= t'rank.desc3'%>
</h2>
<% if @watch_rank %>
<div id='user-rank-no'>
  <h2><%= t'rank.uri'%>: <%= @rank.ordinalize %></h2>
</div>
<% end %>

<table id='ranks-list'>
  <thead>
    <th style='width: 20px;'></th>
    <th style='width: 40px;'></th>
    <th style='width: 170px;'><%= t'user.name'%></th>
    <th style='width: 100px;'><%= t'status.score'%></th>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, i| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td style='color:#000000; font-size:16px; font-weight:bold;'><%= i+1 %></td>
      <td>
        <%= link_to user_image_tag(user.image), "http://www.facebook.com/profile.php?id=#{user.fb_id}", :target => '_blank' %>
      </td>
      <td>
        <%= link_to user.name, "http://www.facebook.com/profile.php?id=#{user.fb_id}", :target => '_blank' %>
      </td>
      <td><%= user.status.total_score %></td>
    </tr>
  <% end %>
  </tbody>
</table>
