<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @user.name %><%= t'common.life'%></title>
  <%= stylesheet_link_tag  'record', 'scaffold', 'facebox', 'reset' %>
  <%= yield :page_specific %>
  <%= javascript_include_tag :defaults, :cache => true %>
</head>
<body>
  <%= fb_connect_javascript_tag %>
  <%= init_fb_connect "XFBML"%>
  <div id="FB_HiddenIFrameContainer" style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;"></div>

  <script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
  <script type="text/javascript">
    FB_RequireFeatures(["CanvasUtil", "XFBML"], function(){
        FB.XdComm.Server.init("<%= FACEBOOKER['callback_url']%>/xd_receiver.htm");
        FB.CanvasClient.startTimerToSizeToContent();
//        FB.ensureInit(function() {
//          api = FB.Facebook.apiClient;
//          var r = api.preloadFQL_get(function(result) {
//            console.debug("preloadFQL_get callback", result);                    
//          });
//       });

  });
</script>
<div id='container'>
  <%= yield %>
</div>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript">
  if (typeof jQuery == 'undefined')
  {
    document.write(unescape("%3Cscript src='/javascripts/jquery.js' type='text/javascript'%3E%3C/script%3E"));
  }
</script>
<%= javascript_include_tag 'facebox', 'jquery.flot.min', 'init', :cache => 'custom'%>
<!--[if IE]>
<script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script>
<![endif]-->
<%= yield :js_rdy %>
</body>
</html>
